/* Stili generali */
body {
  display: flex;
  height: 100vh;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

/* Navbar superiore */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1050;
  background-color: #f8f9fa;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

/* Sidebar */
.sidebar {
  width: 250px;
  height: calc(100vh - 56px); /* Adatta all'altezza della finestra meno la navbar */
  position: fixed;
  top: 56px; /* Altezza della navbar superiore */
  left: 0;
  background-color: #f8f9fa;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar .title {
  margin-bottom: 20px;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  color: #343a40;
}

.sidebar .nav-item {
  width: 100%;
  text-align: left;
}

.sidebar .navbar-nav {
  width: 100%;
  padding-top: 20px;
}

.sidebar .nav-link {
  padding: 10px 20px;
  color: #343a40;
  font-size: 1.1rem;
  transition: background 0.3s;
}

.sidebar .nav-link:hover {
  background-color: #e9ecef;
  border-radius: 5px;
}

/* Contenuto principale */
.content {
  margin-left: 250px;
  margin-top: 60px; /* Spazio per la navbar superiore */
  padding: 20px;
  width: 100%;
}

/* Modalità Scura */
.dark-mode {
  background-color: #343a40 !important;
  color: #ffffff !important;
}

.dark-mode .navbar {
  background-color: #212529 !important;
  color: #ffffff !important;  /* Cambia il colore del testo */
}

.dark-mode .navbar .navbar-nav .nav-link {
  color: #ffffff !important;  /* Colore bianco per i link */
}

.dark-mode .navbar .navbar-nav .nav-link:hover {
  background-color: #495057 !important;
  color: #ffffff !important;  /* Colore bianco al passaggio del mouse */
}

.dark-mode .sidebar {
  background-color: #212529 !important;
}

.dark-mode .sidebar .title,
.dark-mode .sidebar .nav-link {
  color: #ffffff !important;
}

.dark-mode .sidebar .nav-link:hover {
  background-color: #495057 !important;
}


/* Pulsante Dark Mode */
.dark-mode-toggle {
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  transition: color 0.3s ease;
}

.dark-mode-toggle span {
  display: inline-block;
}

/* Adattamenti per dispositivi piccoli */
@media (max-width: 991.98px) {
  .sidebar {
      position: relative;
      width: 100%;
      height: auto;
      top: 0;
  }
  .content {
      margin-left: 0;
      margin-top: 80px; /* Più spazio per evitare sovrapposizioni */
  }
}
  