* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #0f0f0f;
  color: #fff;
  background-image: url('https://www.raiplay.it/resizegd/1440x-/dl/img/2020/05/07/1588842890404_2048x1152.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

html{
  scroll-behavior: smooth;
}

/* HERO */
.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}

.hero-content {
  max-width: 700px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.subtitle {
  font-size: 14px;
  letter-spacing: 2px;
  opacity: 0.7;
  text-transform: uppercase;
}

.hero h1 {
  font-size: 60px;
  margin: 20px 0;
}

.description {
  font-size: 18px;
  opacity: 0.85;
}

.scroll-btn {
  margin-top: 40px;
  padding: 12px 28px;
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid white;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  transition: 0.3s;
}

.scroll-btn:hover {
  background: white;
  color: black;
}

/*FORZATURA TEMPORANEA
.menu-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  background: red;     
  border: none;
  z-index: 9999;       
}

.menu-btn span {
  display: block;
  width: 30px;
  height: 4px;
  margin: 5px auto;
  background: yellow;  
}
*/
/* MENU BUTTON */
.menu-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 22px;
  background: none;
  border: none;
  color: white;
  font-size: 28px;
  cursor: pointer;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-btn span {
  display:block;
  height: 3px;
  width: 100%;
  background: #fff;
  border-radius: 2px;
}

/* MENU LATERALE */
.side-menu {
  position: fixed;
  top: 0;
  right: -260px;
  width: 260px;
  height: 100%;
  background: #1a1a1a;
  padding: 40px 20px;
  transition: right 0.3s ease;
  z-index: 10;
}

.side-menu ul {
  list-style: none;
  margin-top: 60px;
}

.side-menu li {
  margin-bottom: 30px;
  cursor: pointer;
  opacity: 0.8;
}

.side-menu li:hover {
  opacity: 1;
}

/* HOME CARDS */
.home-cards {
  min-height: 100vh;
  padding: 120px 60px;
  background: #111;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  gap: 30px;
  align-content: center;
}

.home-card {
  background: #1a1a1a;
  border-radius: 12px;
  overflow: hidden;   
  padding: 0;         
  display: flex;
  flex-direction: column;
}
.home-card:hover {
  transform: translateY(-10px);
}

.home-card h3 {
  padding: 20px 20px 0 20px;
}

.home-card img {
  aspect-ratio: 16 / 9;
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.home-card p {
  padding: 10px 20px 20px 20px;
}

/* CONTENUTO */
.content {
  background: #f2f2f2;
  color: #111;
  padding: 60px;
  min-height: 100vh;
}

.hidden {
  display: none;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 40px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 8px;
}
