.carousel-item img {
    width: 100%;
    height: 100vh; /* Occupa tutta l'altezza dello schermo */
    object-fit: contain; /* Mantiene l'immagine intera senza tagliarla */
    background-color: black; /* Sfondo nero per immagini non completamente riempite */
}