body {
  display: flex;
  height: 100vh;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.sidebar {
  width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #f8f9fa;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar .title {
  margin-bottom: 20px;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  color: #343a40;
}

.sidebar .nav-item {
  width: 100%;
  text-align: left;
}

.sidebar .navbar-nav {
  width: 100%;
  padding-top: 20px;
}

.sidebar .nav-link {
  padding: 10px 20px;
  color: #343a40;
  font-size: 1.1rem;
  transition: background 0.3s;
}

.sidebar .nav-link:hover {
  background-color: #e9ecef;
  border-radius: 5px;
}

.content {
  margin-left: 250px;
  padding: 20px;
  width: 100%;
}

/* Stili per la modalità scura */
.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

.dark-mode .sidebar {
    background-color: #1e1e1e;
}

.dark-mode .nav-link {
    color: #ffffff;
}

.dark-mode .nav-link:hover {
    background-color: #333333;
}

/* Navbar scura */
.dark-mode .navbar {
    background-color: #343a40 !important;  /* Forza il background scuro della navbar */
}

.dark-mode .navbar-toggler-icon {
    background-color: #ffffff;
}

.dark-mode .navbar-nav .nav-link {
    color: #ffffff;
}

.dark-mode .navbar-nav .nav-link:hover {
    background-color: #444444;
}

@media (max-width: 991.98px) {
  .sidebar {
      position: relative;
      width: 100%;
      height: auto;
  }
  .content {
      margin-left: 0;
  }
}
